---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/somegithubuser/repos?per_page=5&sort=updated&type=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Ratelimit-Reset:
      - '1432701297'
      Etag:
      - W/"cf716dad2b79fd7d51eeec9aab43100b"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"id":31817125,"name":"env","full_name":"somegithubuser/env","owner":{"login":"somegithubuser","id":5098145,"avatar_url":"https://avatars.githubusercontent.com/u/5098145?v=3","gravatar_id":"","url":"https://api.github.com/users/somegithubuser","html_url":"https://github.com/somegithubuser","followers_url":"https://api.github.com/users/somegithubuser/followers","following_url":"https://api.github.com/users/somegithubuser/following{/other_user}","gists_url":"https://api.github.com/users/somegithubuser/gists{/gist_id}","starred_url":"https://api.github.com/users/somegithubuser/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/somegithubuser/subscriptions","organizations_url":"https://api.github.com/users/somegithubuser/orgs","repos_url":"https://api.github.com/users/somegithubuser/repos","events_url":"https://api.github.com/users/somegithubuser/events{/privacy}","received_events_url":"https://api.github.com/users/somegithubuser/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/somegithubuser/env","description":"Some
        files that make up my preferred environment","fork":true,"url":"https://api.github.com/repos/somegithubuser/env","forks_url":"https://api.github.com/repos/somegithubuser/env/forks","keys_url":"https://api.github.com/repos/somegithubuser/env/keys{/key_id}","collaborators_url":"https://api.github.com/repos/somegithubuser/env/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/somegithubuser/env/teams","hooks_url":"https://api.github.com/repos/somegithubuser/env/hooks","issue_events_url":"https://api.github.com/repos/somegithubuser/env/issues/events{/number}","events_url":"https://api.github.com/repos/somegithubuser/env/events","assignees_url":"https://api.github.com/repos/somegithubuser/env/assignees{/user}","branches_url":"https://api.github.com/repos/somegithubuser/env/branches{/branch}","tags_url":"https://api.github.com/repos/somegithubuser/env/tags","blobs_url":"https://api.github.com/repos/somegithubuser/env/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/somegithubuser/env/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/somegithubuser/env/git/refs{/sha}","trees_url":"https://api.github.com/repos/somegithubuser/env/git/trees{/sha}","statuses_url":"https://api.github.com/repos/somegithubuser/env/statuses/{sha}","languages_url":"https://api.github.com/repos/somegithubuser/env/languages","stargazers_url":"https://api.github.com/repos/somegithubuser/env/stargazers","contributors_url":"https://api.github.com/repos/somegithubuser/env/contributors","subscribers_url":"https://api.github.com/repos/somegithubuser/env/subscribers","subscription_url":"https://api.github.com/repos/somegithubuser/env/subscription","commits_url":"https://api.github.com/repos/somegithubuser/env/commits{/sha}","git_commits_url":"https://api.github.com/repos/somegithubuser/env/git/commits{/sha}","comments_url":"https://api.github.com/repos/somegithubuser/env/comments{/number}","issue_comment_url":"https://api.github.com/repos/somegithubuser/env/issues/comments{/number}","contents_url":"https://api.github.com/repos/somegithubuser/env/contents/{+path}","compare_url":"https://api.github.com/repos/somegithubuser/env/compare/{base}...{head}","merges_url":"https://api.github.com/repos/somegithubuser/env/merges","archive_url":"https://api.github.com/repos/somegithubuser/env/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/somegithubuser/env/downloads","issues_url":"https://api.github.com/repos/somegithubuser/env/issues{/number}","pulls_url":"https://api.github.com/repos/somegithubuser/env/pulls{/number}","milestones_url":"https://api.github.com/repos/somegithubuser/env/milestones{/number}","notifications_url":"https://api.github.com/repos/somegithubuser/env/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/somegithubuser/env/labels{/name}","releases_url":"https://api.github.com/repos/somegithubuser/env/releases{/id}","created_at":"2015-03-07T15:52:57Z","updated_at":"2015-03-07T15:58:32Z","pushed_at":"2015-03-07T15:58:32Z","git_url":"git://github.com/somegithubuser/env.git","ssh_url":"git@github.com:somegithubuser/env.git","clone_url":"https://github.com/somegithubuser/env.git","svn_url":"https://github.com/somegithubuser/env","homepage":"","size":113,"stargazers_count":0,"watchers_count":0,"language":"Perl","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":26194026,"name":"ruby-snippets","full_name":"somegithubuser/ruby-snippets","owner":{"login":"somegithubuser","id":5098145,"avatar_url":"https://avatars.githubusercontent.com/u/5098145?v=3","gravatar_id":"","url":"https://api.github.com/users/somegithubuser","html_url":"https://github.com/somegithubuser","followers_url":"https://api.github.com/users/somegithubuser/followers","following_url":"https://api.github.com/users/somegithubuser/following{/other_user}","gists_url":"https://a[...]
